.App {
  text-align: center;
  display: grid;
  width: 80vw;
  margin: auto;
  grid-template-areas: 
  'timer-label timer-label timer-label timer-label'
  'time-left time-left time-left time-left'
  'start-stop start-stop reset reset'
  'break-label break-label session-label session-label'
  'break-length break-length session-length session-length'
  'break-decrement break-increment session-decrement session-increment';
}

#timer-label{
  grid-area: timer-label;
}
#time-left{
  grid-area: time-left;
}
#start_stop{
  grid-area: start-stop;
}
#reset{
  grid-area: reset;
}
#break-label{
  grid-area:break-label;
}
#break-length{
  grid-area: break-length;
}
#break-decrement{
  grid-area: break-decrement;
}
#break-increment{
  grid-area: break-increment;
}
#session-label{
  grid-area: session-label;
}
#session-length{
  grid-area: session-length;
}
#session-decrement{
  grid-area: session-decrement;
}
#session-increment{
  grid-area: session-increment;
}