.App {
  text-align: center;
  margin: auto;
  margin-top: 30vh;
  display: grid;
  width: 60vw;
  grid-template-areas: 
  'timer-label timer-label'
  'time-left  time-left'
  'start-stop  reset'
  'break session';
  background-color: rgb(241, 127, 127);
  padding: 20px;
}
#timer-label{
  grid-area: timer-label;
  font-size: 2rem;
}
#time-left{
  grid-area: time-left;
  font-size: 3.5rem;
  padding: 15px;
}
#start_stop{
  grid-area: start-stop;
}
#reset{
  grid-area: reset;
  font-size: 15px;
}
#start_stop, #reset{
  width: 50%;
  height: 30px;
  margin: auto;
  border: none;
  border-radius: 10px;
}
#break-container{
  grid-area: break;
}
#session-container{
  grid-area: session;
}
button:hover{
  filter:brightness(80%);
  cursor: pointer;
}
#session-length, #break-length{
  padding: 20px;
  font-weight: 500;
  font-size: 1.5rem;
}
.btn{
 font-size: 1.5rem;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 border: none;
}
